@model IEnumerable<FineSelections.Models.Narudzba>
@{
    ViewData["Title"] = "Narudžbe";
}
<h1>Moje narudžbe</h1>

@if (!Model.Any())
{
    <p>Nema narudžbi.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Status</th>
                <th>Ukupna cijena</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var n in Model)
        {
            <tr>
                <td>@n.DatumNarudzbe.ToString("dd.MM.yyyy HH:mm")</td>
                <td>@n.Status</td>
                <td>@n.UkupnaCijena.ToString("0.00") €</td>
                <td><a class="btn-outline" asp-action="Details" asp-route-id="@n.ID_narudzbe">Detalji</a></td>
            </tr>
        }
        </tbody>
    </table>
}
