
@model FineSelections.Models.Product
<h1>Obriši</h1>
<p>Jeste li sigurni da želite obrisati <strong>@Model.Naziv</strong>?</p>
<form method="post">
    <button type="submit" class="btn danger">Da, obriši</button>
    <a asp-action="Admin">Odustani</a>
</form>
