@model FineSelections.Models.Korisnik
@{
    ViewData["Title"] = "Novi korisnik";
}

<h1>Novi korisnik</h1>

<form method="post" class="form">
    <div class="form-row">
        <label>Ime</label>
        <input asp-for="Ime" />
    </div>
    <div class="form-row">
        <label>Prezime</label>
        <input asp-for="Prezime" />
    </div>
    <div class="form-row">
        <label>Godina rođenja</label>
        <input asp-for="GodRod" type="date" />
    </div>
    <div class="form-row">
        <label>Email</label>
        <input asp-for="Email" type="email" />
    </div>
    <div class="form-row">
        <label>Adresa</label>
        <input asp-for="Adresa" />
    </div>
    <div class="form-row">
        <label>Telefon</label>
        <input asp-for="Telefon" />
    </div>

    <button class="btn" type="submit">Spremi</button>
</form>
